<div class="question-preview-box" question_type="2" question_id="<%= @question.id %>">
  <button class="btn btn-default btn-snall hide-preview">Fechar preview</button>
  <h3>
    Questão <%= @question.number %>
  </h3>
  <h4><%= @question.text %></h4>
  <div>
    <div>
      <% @question.options.each do |option| %>
        <% @option = option %>
        <%= render partial: "options/type/#{@question.question_type.code}/show" %>
      <% end %>
    </div>
  </div>
</div>

