<div option_id="<%= @option.id %>" class="option-box">
    <input type='radio' name='group-<%= @question.id %>'> &nbsp;
    <input type='text' value='<%= @option.text %>'>  &nbsp;
    <button class="btn btn-default btn-snall  save-option">Save</button>
</div>
