%p
  = @question_type.code
%p
  = @question_type.name

.btn-group.pull-right
  = link_to t('edit'), edit_question_type_path(@question_type), { class: 'btn btn-mini' }
  = link_to t('all'), question_types_path, { class: 'btn btn-mini' }
