%h2 Relatório
%h5 
  = @form.name
%a.badge
  = "#{@form.replies.size} respostas"
%section
  - @anwser_count = 0
  - @form.replies.each do |reply|
    - @anwser_count += 1
    - @reply = reply
    = render partial: "replies/report_show"
