/**
 *= require_tree .
 */
 
#loader {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
}

#main_side_bar {
  position: fixed;
  top: 60px;
}

.close-to-left {
  margin-left: 0px;
}

body {
  &.noheader {
    margin-top: 0px;
    padding-top: 20px;
  }
}

.opaque {
  color: #aaa;
}

.flash_error {
  -webkit-border-radius: 4px;
  padding: 8px 35px 8px 14px;
  background-color: #F7B3A2;
  border-color: rgba(255, 71, 0, 0.94);
  color: #020302;
}
