// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-from-type-box {
  border-bottom: 1px solid #ddd;
  padding: 24px 0px;
  
  input.question-number {
    height: 16px;
    width: 30px; 
    margin-top: 8px;
  }
  
  input.question-text {
    width: 400px; 
  }
  
  .options {
    padding: 10px 0px;
  }
}
