<div class="question-from-type-box">
  <h4>Questão <input type="text" class="question-number" value="<%= @question.number %>" /></h1>
  <div>
    <div><input type="text" value="<%= @question.text %>" class="question-text" /></div>
    <div>
      <button class="btn btn-default btn-snall">Adicionar opção</button>
      <button class="btn btn-default btn-snall">Salvar alterações</button>
      <button class="btn btn-default btn-snall">Remover questão</button>
    </div>
    <div class="options">
      <div>Opções: </div>
      <% @question.options.each do |option| %>
        <div><input name="question_<%= @question.id %>_options" type="radio" /> <%= option.text %></div>
      <% end %>
    </div>
  </div>
  
</div>
