%ul.nav.nav-list#main_side_bar
  - if logged_in?
    %li
      %a{ href: forms_path }
        %i.icon-tasks
        %span My forms
    %li
      %a{ href: user_path(current_user) }
        %i.icon-user
        %span My account
